# Node.js / PNPM
node_modules

# Build output
out
dist

# Test media
test-data
temp*

# A common name for Electron Builder output
/release

# Environment variables
.env
.env.local
.env.*.local

.claude/*
!.claude/CLAUDE.md

# Log files
*.log*
npm-debug.log*
pnpm-debug.log*

# IDE / Editor directories
.idea/
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Caches
.eslintcache
.vite-cache
.svelte-kit

response.json
tsconfig.node.tsbuildinfo

public/bin
# scripts/deploy-deb.bat
