[Unit]
Description=Kinome Server
After=network.target

[Service]
# Security: Run as a specific user
User=kinome
Group=kinome

# Configuration
Environment="KINOME_DATA=/var/lib/kinome"
Environment="NODE_ENV=production"
Environment="PORT=3000"

# Application location (We will install to /opt)
WorkingDirectory=/opt/kinome
ExecStart=/opt/kinome/kinome
Restart=always

[Install]
WantedBy=multi-user.target